{
  "presets": [
    ["env", {
      "targets": {
        "chrome": 55,
        "uglify": true
      },
      "useBuiltIns": true,
      "modules": false
    }]
  ],
  "ignore": [
    "**/*.test.js",
    "test.js"
  ]
}
